html
  head
    title= title
  body
    h1= "Contents of the CPUINFO file"
    ul 
     each val in message
      li= val    



    h2= message[0]
    h4= message[1]
    h2= message[2]
    h4= message[3]
    h2= message[4]
    h4= message[5]
      
